{% extends "base.html" %}
{% load static %}
{% load bag_tools %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col-12 col-md-6 offset-md-3 text-center mb-0">
            <h2 class="my-4">Shopping cart</h2>
            <h5 class="text-muted">Cart summary below</h5>
            <hr>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}

<div class="container pt-5">
    {% if cart_items %}
    <div class="card p-4 shadow-lg">
        <h4 class="text-uppercase">
            <strong>Grand Total: SEK {{ grand_total|floatformat:2 }}
            </strong>
        </h4>
        <div class="row mt-3 px-0">
            <a href="{% url 'products' %}" class="btn btn-custom-secondary rounded-2 btn-sm">
                <span class="icon">
                    <i class="fas fa-chevron-left"></i>
                </span>
                <span class="text-uppercase">Back</span>
            </a>
            <a href="{% url 'payment' %}" class="btn btn-custom rounded-2 btn-sm">
                <span class="text-uppercase"> Secure Payment</span>
                <span class="icon">
                    <i class="fas fa-credit-card"></i>
                </span>
            </a>
        </div>
    </div>
    <div class="card p-4 shadow-lg">
        <div class="row">
            <div class="col">
                <!-- Small screens -->
                <div class="d-block d-md-none">

                    {% for item in cart_items %}
                    <div class="row">
                        <div class="col-4">
                            <div>
                                {% if item.product.image %}
                                <img class="w-100" src="{{ item.product.image.url }}" alt="{{ product.name }}">
                                {% else %}
                                <img class="w-100" src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}">
                                {% endif %}
                            </div>
                        </div>
                        <div class="col-8">
                            <span class="my-0"><strong>{{ item.product.name }} </strong></span>
                            <span class="my-0"> x {{ item.quantity }} á ${{ item.product.price }} each</span>
                            <p><strong>Subtotal: </strong>${{ item.product.price | calc_subtotal:item.quantity }}</p>

                        </div>
                        <div class="col-12">
                            <form class="form update-form" method="POST" action="{% url 'update_cart' item.item_id %}">
                                {% csrf_token %}
                                <div class="form-group">
                                    <div class="input-group">
                                        <input class="form-control form-control-sm qty_input ml-0" type="number"
                                            name="quantity" value="{{ item.quantity }}" min="1" max="99"
                                            data-item_id="{{ item.item_id }}" id="id_qty_{{ item.item_id }}">
                                    </div>
                                </div>
                            </form>
                            <a class="update-link text-info btn btn-delete-update mx-1">
                                <small>Update</small>
                                <i class="fas fa-redo"></i>
                            </a>
                            <p class="my-0 float-right">
                                <!-- Modal Trigger -->
                                <button type="button" class="btn btn-delete-update mx-1" data-toggle="modal"
                                    data-target="#deleteModalCartMobile">
                                    <small>Remove</small>
                                    <i class="far fa-trash-alt"></i>
                                </button>
                            </p>
                            <!-- Deletion Modal -->
                            <div class="modal fade" id="deleteModalCartMobile" tabindex="-1"
                                aria-labelledby="modalHeading" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title " id="modalHeading">Remove from cart</h5>
                                            <button type="button" class="btn-close" data-dismiss="modal"
                                                aria-label="Close">x</button>
                                        </div>
                                        <div class="modal-body">
                                            Are you sure you want to remove {{ item.product.name }} from your cart?
                                        </div>
                                        <div class="modal-footer">
                                            <div class="btn d-inline-block btn-outline-danger text-white">
                                                <a href="{% url 'remove_from_cart' item.item_id %}"
                                                    class="link">Remove</a>
                                            </div>
                                            <button type="button" class="btn btn-custom-secondary"
                                                data-dismiss="modal">Close</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <hr>
                        </div>
                    </div>
                    {% endfor %}

                </div>
                <!-- Medium and up screens -->
                <div class="table-responsive rounded d-none d-md-block">
                    <table class="table table-sm table-borderless">
                        <thead class="text-black">
                            <tr>
                                <th scope="col">Adventure Info</th>
                                <th scope="col">Adventure Name</th>
                                <th scope="col">Price</th>
                                <th scope="col">Qty</th>
                                <th scope="col">Subtotal</th>
                                <th scope="col">Remove</th>

                            </tr>
                        </thead>

                        {% for item in cart_items %}
                        <tr>
                            <td class="p-3 w-25">
                                {% if item.product.image %}
                                <img class="w-75" src="{{ item.product.image.url }}" alt="{{ product.name }}">
                                {% else %}
                                <img class="w-75" src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}">
                                {% endif %}

                            </td>
                            <td class="py-3 w-15">
                                <p class="my-0"><strong>{{ item.product.name }}</strong></p>
                            </td>
                            <td class="py-3">
                                <p class="my-0">SEK {{ item.product.price }}</p>
                            </td>
                            <td class="py-3 w-10">
                                <div class="row">
                                    <form class="form update-form" method="POST"
                                        action="{% url 'update_cart' item.item_id %}">
                                        {% csrf_token %}
                                        <div class="form-group">
                                            <div class="input-group">
                                                <input class="form-control form-control-sm qty_input" type="number"
                                                    name="quantity" value="{{ item.quantity }}" min="1" max="99"
                                                    data-item_id="{{ item.item_id }}" id="id_qty_{{ item.item_id }}">
                                            </div>
                                        </div>
                                    </form>
                                    <a class="update-link text-info btn btn-delete-update mx-1">
                                        <small>Update</small>
                                        <i class="fas fa-redo"></i>
                                    </a>
                                </div>
                            </td>
                            <td class="py-3">
                                <p class="my-0">SEK {{ item.product.price | calc_subtotal:item.quantity }}</p>
                            </td>
                            <td class="py-3">
                                <p class="my-0">

                                    <!-- Modal Trigger -->
                                    <button type="button" class="btn btn-delete-update mx-1" data-toggle="modal"
                                        data-target="#deleteModalCart">
                                        <small>Remove</small>
                                        <i class="far fa-trash-alt"></i>
                                    </button>
                                </p>
                            </td>
                        </tr>
                        <!-- Deletion Modal -->
                        <div class="modal fade" id="deleteModalCart" tabindex="-1" aria-labelledby="modalHeading"
                            aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title " id="modalHeading">Delete from cart</h5>
                                        <button type="button" class="btn-close" data-dismiss="modal"
                                            aria-label="Close">x</button>
                                    </div>
                                    <div class="modal-body">
                                        Are you sure you want to remove {{ item.product.name }} from your cart?
                                    </div>
                                    <div class="modal-footer">
                                        <div class="btn d-inline-block btn-outline-danger text-white">
                                            <a href="{% url 'remove_from_cart' item.item_id %}" class="link">Remove</a>
                                        </div>
                                        <button type="button" class="btn btn-custom-secondary"
                                            data-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        {% endfor %}
                </div>
            </div>
        </div>
    </div>
    {% else %}
    <p class="lead mb-5">
        Cart is empty
    </p>
    <a href="{% url 'products' %}" class="btn btn-custom rounded-2">

        Back to shop
    </a>
    {% endif %}
</div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}


<script type="text/javascript">
    // Update quantity on click - from walkthrough
    $('.update-link').click(function (e) {
        var form = $(this).prev('.update-form');
        form[0].requestSubmit();
    })
</script>
{% endblock %}