{% extends "base.html" %}
{% load static %}
{% block extra_css %}
{% endblock %}
{% block content %}
<div class="container h-100">
    {% if user.is_authenticated %}
    {% if request.user.is_superuser %}
    <div class="row">
        <div class="col-12 col-md-6 offset-md-3 text-center mt-3">
            <h2 class="logo-font my-4">Question Management</h2>
            <h5 class="text-muted">Edit and respond to question</h5>
            <hr>
        </div>
        <div class="col-md-6 offset-md-3 mt-2 ">
            <div class="card mb-4 mt-5">
                <div class="card-body">
                    <form action="{% url 'edit_question' question.id %}" enctype="multipart/form-data" method="POST" id="question-form">
                        {% include 'questions/includes/question_form.html' %}
                        <hr class="my-4">
                        <div class="row gy-3">
                            <!-- buttons at the end of the form -->
                            <div class="col-md-6 text-center ">
                                <button type="reset" class="btn btn-custom-secondary me-2 rounded-2">
                                    <span class="font-weight-bold">Clear
                                    </span>
                                </button>
                            </div>
                            <div class="col-md-6 text-center ">
                                <button id="submit-button" class="btn btn-custom rounded-2">
                                    <span class="font-weight-bold">Save
                                    </span>
                                </button>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
    {% endif %}
    {% endif %}
</div>

{% endblock %}
{% block postload_js %}
{{ block.super }}
<script type="text/javascript">
    $('#new-image').change(function () {
        var file = $('#new-image')[0].files[0];
        $('#filename').text(`New image: ${file.name}`);
    });
</script>
{% endblock %}