{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="container">
    <div class="row mt-5">
        {% for question in question_list %}
        <div class="col-8 offset-2">
            <div class="card">
                <div class="card-header">
                    <h2>{{ question.header }} </h2>
                </div>
                <div class="card-body">
                    <h3> Question:</h3>
                    <p>{{ question.detail }}</p>
                    {% if question.answer %}
                    <hr>
                    <h3>Answer:</h3>
                    <p class="lead">{{ question.answer }}</p>
                    <hr>
                    {% endif %}
                    <p><span class="text-muted"> Author: {{ question.author }}</span></p>
                    <p><span class="text-muted"> Created: {{ question.updated_on}}</span></p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>



<!-- pagination from django-->
{% if is_paginated %}
<nav class="" aria-label="Page navigation">
    <ul class="pagination justify-content-center">
        {% if page_obj.has_previous %}
        <li>
            <a class="btn btn-secondary rounded-0 mt-3 " href="?page={{ page_obj.previous_page_number }}"
                class="page-link">&laquo; PREV
            </a>
        </li>
        {% endif %}
        {% if page_obj.has_next %}
        <li>
            <a class="btn btn-secondary rounded-0 mt-3 " href="?page={{ page_obj.next_page_number }}" class="page-link">
                NEXT &raquo;
            </a>
        </li>
        {% endif %}
    </ul>
</nav>
{% endif %}



{% endblock %}