{% extends "base.html" %}
{% load static %}



{% block content %}


<div class=" container">
    <div class="d-flex justify-content-center align-items-center hero-image">
        <a href="{% url 'products' %}?category=kids,adolescents,Adults" class="btn btn-text-box">
            <h1 class="hero-text">Come join our adventures!
            </h1>
            <p class="hero-text"><i class="fas fa-arrow-right"></i></p>
        </a>
    </div>
</div>

<div class="container mb-5">
    <!-- About us, more info and shop button -->
    <div class="row mt-5">
        <div class="col-12 col-lg-4 gx-5">
            <div class="index-box">
                <h4 class="pt-3">About Active8
                </h4>
                <p class="p-3">
                    Ever wondered what to do a rainy day? Or a sunny day for that matter? Our adventures span all
                    weather and ages! We provide you with the concept, the idea, the complete walkthrough for an amazing
                    adventure. All you need to do is set it up and enjoy. Questions? See next section!
                </p>
            </div>
        </div>
        <div class="col-12 col-lg-4 gx-5">
            <div class="index-box">
                <h4 class="pt-3">Q&A
                </h4>
                <p class="p-3">
                    Anything you have ever wondered has been answered here (or will be - if you ask the question!). Pop
                    in <a href="{% url 'questions' %}">here</a> to see if anyone else wondered the same or submit a new
                    question. Promise we'll be quick to
                    answer.
                </p>
            </div>
        </div>
        <div class="col-12 col-lg-4 gx-5">
            <div class="index-box">
                <h4 class="pt-3">Newsletter
                </h4>
                <p class="p-3">
                    Everyone knows newsletters are fun and ours is no different. <a
                        href="{% url 'newsletter_signup' %}">Sign
                        up </a>for one to stay in the loop and not miss out on any news, campaigns, new adventures and
                    other fun stuff. FOMO!
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}