{% extends "base.html" %}
{% load static %}



{% block content %}

<div class="hero-image">
    <div id="hero-text-box">
        <h1>Come join our adventures! </h1>
        <a href="{% url 'products' %}?category=kids,adolescents,Adults" class=" btn btn-lg rounded-0 text-uppercase py-3">></a>
    </div>

</div>
 <!--
<div class="hero-image">
    <div class="hero-text-box">
        <h4>
            <a href="{% url 'products' %}?category=kids,adolescents,Adults" class=" btn btn-lg rounded-0 text-uppercase py-3">Shop Now</a>
        </h4>
    </div>
</div>-->

<div class="container mb-5">
    <!-- About us, more info and shop button -->
    <div class="row mt-5">
        <div class="col-4 gx-5">
            <div class="index-box">
                <h4 class="pt-3">Why do we use it?
                </h4>
                <p class="p-3">
                    It is a long established fact that a reader will be distracted by the readable content of a page
                    when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal
                    distribution of letters, as opposed to using 'Content here, content here', making it look like
                    readable English.
                </p>
            </div>
        </div>
        <div class="col-4 gx-5">
            <div class="index-box">
                <h4 class="pt-3">Why do we use it?
                </h4>
                <p class="p-3">
                    It is a long established fact that a reader will be distracted by the readable content of a page
                    when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal
                    distribution of letters, as opposed to using 'Content here, content here', making it look like
                    readable English.
                </p>
            </div>
        </div>
        <div class="col-4 gx-5">
            <div class="index-box">
                <h4 class="pt-3">Why do we use it?
                </h4>
                <p class="p-3">
                    It is a long established fact that a reader will be distracted by the readable content of a page
                    when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal
                    distribution of letters, as opposed to using 'Content here, content here', making it look like
                    readable English.
                </p>
            </div>
        </div>
    </div>
</div>
</div>
{% endblock %}