/* Global */
html {
    height: 100%;
}

body {
    font-family: 'Raleway', sans-serif !important;
    height: calc(100vh - 164px);

}

.my-heading-font {
    font-family: 'Water Brush', cursive;

}

footer {
    position: absolute;
    width: 100%;

}


/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.logo-font {
    text-transform: uppercase;
}

.btn-black {
    background: black;
    color: white;
}

.btn-custom {
    background: #40b5bc;
    color: #343a40
}


.btn-custom:hover {
    background: #339096;
    color: #343a40;
}

.btn-custom-secondary {
    background: white;
    color: #343a40;
    border: 1px solid #40b5bc;
}

.btn-custom-secondary:hover {
    background: #D8F0F1;
    color: #343a40;
    border: 1px solid #40b5bc;
}

.btn-delete {
    background: white;
    color: red;
    border: none;
}

/* bootstrap toasts */

.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 99999999999;
}


/* from CSS-tricks.com: https://css-tricks.com/snippets/css/css-triangle/ */
.arrow-up {
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-bottom: 10px solid black;
    position: absolute;
    top: -10px;
    right: 36px;
}

/* Convenience classes - colors copied from Bootstrap
.arrow-primary {
    border-bottom-color: #007bff !important;
}

.arrow-secondary {
    border-bottom-color: #6c757d !important;
}

.arrow-success {
    border-bottom-color: #28a745 !important;
}

.arrow-danger {
    border-bottom-color: #dc3545 !important;
}

.arrow-warning {
    border-bottom-color: #ffc107 !important;
}

.arrow-info {
    border-bottom-color: #17a2b8 !important;
}

.arrow-light {
    border-bottom-color: #f8f9fa !important;
}

.arrow-dark {
    border-bottom-color: #343a40 !important;
}

*/

.bag-notification-wrapper {
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}


/* Index */
.hero-image {
    height: 50vh;
    background: url("/media/djungle_tiny.jpg") no-repeat center center;
    background-size: cover;
    clear: both;
    margin-bottom: 5vh;
    position: relative;
}

.hero-text {
    color: #EBECF1;
    font-family: 'Raleway', sans-serif !important;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 4px;

}

.btn-text-box {

    width: 400px;
    height: 200px;
    padding-top: 40px;
    padding-left: 10px;
    background-color: rgba(0, 0, 0, 0.7);
    top: 22%;
    right: 10%;
    position: absolute;
}


.index-box {

    height: auto;
    max-width: 90%;
    border-radius: 15px;
    box-shadow: 5px 10px 18px #888888;
    text-align: center;

}




/* navbar */

i:hover {
    color: #40b5bc;
}

.nav-link:hover {
    color: #40b5bc !important;
}

li>a.dropdown-item:hover {
    color: #40b5bc !important;
}

/* -------------------------------- Media Queries */



@media (min-width: 992px) {
    .header-container {
        padding-top: 0px;
    }
}