{% extends "base.html" %}
{% load static %}
{% block extra_css %}
{% endblock %}

{% block content %}
<div class="container">

    <!-- header of the newsletter subscribe form page -->
    <div class="py-5 text-center">

        <h2 class="my-heading-font">Newsletter
        </h2>
        <p class="lead">Unsubscribe here!
        </p>
    </div>
    <!--   -->
    <div class="row ">

        <!-- forms starts here -->
        <div class="col-md-8 col-lg-8">

            <form action="" method="POST">
                {% csrf_token %}
                {{ form | crispy }}
                <button type="submit" class="btn btn-light">Unsubscribe</button>

            </form>

            {% endblock %}