{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="container h-100">
    <div class="row">
      <div class="col-md-8 offset-md-2 mt-5 card-outer">
        <div class="card mb-4 mt-5">
          <div class="card-body workout-card">

            <h1 class="my-heading-font justify-content-center">Error: Page 500
            </h1>
            <p>Sorry, this one is on us!
            </p>
            <p>
                <a class="btn btn-lg btn-custom rounded-2" href="{% url 'home' %}">Take me home
                </a>
                <a class="btn btn-lg btn-custom-secondary rounded-2" href="{% url 'contact' %}">Contact Us
                </a>
            </p>

          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}