{% load static %}

<!doctype html>
<html lang="en">

<head>

  {% block meta %}
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  {% endblock %}

  {% block extra_meta %}
  {% endblock %}

  {% block corecss %}
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Raleway&family=Water+Brush&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'css/base.css' %}">
  {% endblock %}

  {% block extra_css %}
  {% endblock %}

  {% block corejs %}
  <script src="https://kit.fontawesome.com/e9c73d7092.js" crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
  </script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
  </script>

  <!-- Stripe -->
  <script src="https://js.stripe.com/v3/"></script>
  {% endblock %}

  {% block extra_js %}
  {% endblock %}

  <title>Active8 {% block extra_title %}{% endblock %}</title>
</head>

<body class="d-flex flex-column min-vh-100">
  <div class="px-3 py-2 bg-dark text-white">
    <div class="container">
      <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
        <div class="d-flex flex-wrap align-items-center justify-content-between">
          <a class="navbar-brand d-flex my-2 mx-0 my-lg-0 me-lg-auto text-white text-decoration-none"
            href="{% url 'home' %}">
            <h2 class="my-heading-font ps-2 mr-5 left">Active8</h2>
          </a>
        </div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
          aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse " id="navbarNavDropdown">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active mr-3">
              <a class="nav-link text-white" href="{% url 'home' %}">
                <div class="text-center">
                  <div><i class="fas fa-home"></i></div>
                  <p class="my-0">
                    Home
                  </p>
                </div> <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item dropdown mr-3">
              <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdownMenuLinkShop"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <div class="text-center">
                  <div><i class="fas fa-store-alt"></i></div>
                  <p class="my-0">Shop</p>
                </div>
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLinkShop">
                <a class="dropdown-item" href="{% url 'products' %}?category=kids,adolescents,Adults">All Adventures</a>
                <a class="dropdown-item" href="{% url 'products' %}?category=kids">Kids</a>
                <a class="dropdown-item" href="{% url 'products' %}?category=adolescents">Adolescents</a>
                <a class="dropdown-item" href="{% url 'products' %}?category=Adults">Adults</a>
              </div>
            </li>
            <li class="nav-item active mr-3">
              <a class="nav-link text-white" href="{% url 'questions' %}">
                <div class="text-center">
                  <div><i class="fas fa-question"></i></div>
                  <p class="my-0">
                    Q&A
                  </p>
                </div> <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item dropdown mr-3">
              <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdownMenuLinkProfile"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <div class="text-center">
                  <div><i class="fas fa-user fa-lg"></i></div>
                  {% if request.user.is_authenticated %}
                  <p class="my-0 text-uppercase">
                    {{ request.user.username }}</p>
                  {% else %}
                  <p class="my-0">Sign In</p>
                  {% endif %}
                </div>
              </a>
              <div class="dropdown-menu border-0" aria-labelledby="navbarDropdownMenuLinkProfile">
                {% if request.user.is_authenticated %}
                {% if request.user.is_superuser %}
                <a href="{% url 'add_product' %}" class="dropdown-item">Product Management</a>
                <a href="{% url 'manage_questions' %}" class="dropdown-item">Q&A Management</a>
                {% endif %}
                <a href="{% url 'profile' %}" class="dropdown-item">Order History</a>
                <a href="{% url 'account_logout' %}" class="dropdown-item">Sign Out</a>
                {% else %}
                <a href="{% url 'account_signup' %}" class="dropdown-item">Sign Up/Register</a>
                <a href="{% url 'account_login' %}" class="dropdown-item">Sign In</a>
                {% endif %}
              </div>
            </li>
            <li class="nav-item mr-3">
              <a class="{% if grand_total %}text-info font-weight-bold{% else %}text-white{% endif %} nav-link"
                href="{% url 'view_cart' %}">
                <div class="text-center">
                  <div><i class="fas fa-shopping-cart"></i></div>
                  <p class="my-0">
                    {% if grand_total %}
                    SEK {{ grand_total |floatformat:0  }}
                    {% else %}
                    Empty
                    {% endif %}
                  </p>
                </div>
              </a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </div>

  {% if messages %}
    <div class="message-container">
      {% for message in messages %}
        {% with message.level as level %}
          {% if level == 40 %}
            {% include 'includes/toasts/toast_error.html' %}
          {% elif level == 30 %}
            {% include 'includes/toasts/toast_warning.html' %}
          {% elif level == 25 %}
            {% include 'includes/toasts/toast_success.html' %}
          {% else %}
            {% include 'includes/toasts/toast_info.html' %}
          {% endif %}
        {% endwith %}
      {% endfor %}
  </div>
  {% endif %}

  {% block page_header %}
  {% endblock %}

  {% block content %}
  {% endblock %}

  <!-- FOOTER -->

  <footer id="sticky-footer" class="flex-shrink-0 py-1 bg-white text-dark">
    <div class="container text-center">
      <hr>
      <p> Active8 &middot;
        <a class="link" href="{% url 'contact' %}">Contact Us
        </a> &middot;
        <a class="link" href="{% url 'newsletter_signup' %}">Newsletter
        </a> &middot; Follow us on
        <a class="link" href="https://www.facebook.com/" rel="nofollow"
          target="_blank" aria-label="go to our facebook page (opens in new window)">Facebook</a>
      </p>
    </div>
  </footer>


  {% block postloadjs %}
  <script type="text/javascript">
    $('.toast').toast('show');
  </script>
  {% endblock %}


</body>

</html>