{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'payment/css/payment.css' %}">
{% endblock %}

{% block page_header %}
<div class="container header-container mb-5">
    <div class="row">
        <div class="col-12 col-md-6 offset-md-3 text-center mb-0">
            <h2 class="my-4">Thank you for your order!</h2>
            <h5 class="text-muted">We look forward to following you on your adventure.</h5>
            <h5 class="text-muted">Do not hesitate to <a href="{% url 'contact' %}">reach out</a> to us for assistance if needed!</h5>
            <hr>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container vh-100">
        <div class="row">
			<div class="col-12 col-lg-7 text-right align-items-center justify-content-center">
				<a href="{% url 'products' %}" class="btn btn-custom rounded-2 my-2">
					<span class="icon mr-2">
						<i class="fas fa-store-alt"></i>
					</span>
					<span class="text-uppercase">Shop some more?</span>
				</a>
			</div>
		</div>
    </div>
</div>
{% endblock %}