{% extends "base.html" %}
{% load static %}
{% load bag_tools %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'payment/css/payment.css' %}">
{% endblock %}

{% block page_header %}
    <!-- Payment header   -->

    <div class="container header-container mb-5">
        <div class="row">
            <div class="col-12 col-md-6 offset-md-3 text-center mb-0">
                <h2 class="my-4">Payment</h2>
                <h5 class="text-muted">We need your full address and contact details to be able to send you the purchased goods.</h5>
                <hr>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}

<div class="container">
    <div class="row">

        <!-- Order form   -->
        <div class="col-md-12 col-lg-7">
            <h4 class="mb-3"> Your Details
            </h4>
            <form action="{% url 'payment' %}" method="POST" id="payment-form">
                {% csrf_token %}
                <div class="row g-3">
                    <div class="col-sm-6">
                        {{ order_form.first_name | as_crispy_field }}
                    </div>
                    <div class="col-sm-6">
                        {{ order_form.last_name | as_crispy_field }}
                    </div>
                    <div class="col-6">
                        {{ order_form.phone_number | as_crispy_field }}
                    </div>
                    <div class="col-6">
                        {{ order_form.email| as_crispy_field }}
                    </div>
                    <h4 class="mb-3">Delivery address
                    </h4>
                    <div class="col-12">
                        {{ order_form.street_address1 | as_crispy_field }}
                    </div>
                    <div class="col-12">
                        {{ order_form.street_address2 | as_crispy_field }}
                    </div>
                    <div class="col-6">
                        {{ order_form.zipcode | as_crispy_field }}
                    </div>
                    <div class="col-6">
                        {{ order_form.city | as_crispy_field }}
                    </div>
                    <div class="col-md-6">
                        {{ order_form.county| as_crispy_field }}
                    </div>
                    <div class="col-md-6">
                        {{ order_form.country | as_crispy_field }}
                    </div>

                </div>
                <hr class="my-4">

                <h4 class="my-4">Payment
                </h4>
                <div class="row gy-3">
                    <div class="col-12">
                        <!--Stripe card element -->
                        <div class="mb-3" id="card-element">
                        </div>
                        <!-- Form errors display-->
                        <div class="mb-3 text-danger" id="card-errors" role="alert">
                        </div>

                        <input type="hidden" value="{{ client_secret }}" name="client_secret">
                    </div>
                    <div class="submit-button text-right mt-5 mb-3 ml-3">
                        <a href="{% url 'view_cart' %}" class="btn btn-custom-secondary rounded-2">
                            <span class="icon">
                                <i class="fas fa-chevron-left"></i>
                            </span>
                            <span class="font-weight-bold text-uppercase">Back to Cart</span>
                        </a>
                        <button id="submit-button" class="btn btn-custom text-uppercase rounded-2">
                            <span class="font-weight-bold">Complete Order</span>
                            <span class="icon">
                                <i class="fas fa-lock"></i>
                            </span>
                        </button>
                        <p class="small text-danger my-0">
                            <span class="icon">
                                <i class="fas fa-exclamation-circle"></i>
                            </span>
                            <span>Your card will be charged <strong>SEK {{ total|floatformat:2 }}</strong></span>
                        </p>
                    </div>

                    <div class="col-12">
                        <p class="small text-danger my-0">
                            <span class="icon">
                                <i class="bi bi-credit-card-2-back-fill">
                                </i>
                            </span>

                        </p>
                    </div>
                </div>
                <hr class="my-4">
            </form>
        </div>

        <!-- order summary   -->

            <div class="col-md-8 offset-md-2 col-lg-4 offset-lg-1 order-md-last">
                <h4 class="d-flex justify-content-between align-items-center mb-3">
                    <span>Order Summary
                    </span>
                    <span class="badge bg-secondary ">{{ product_count }}
                    </span>
                </h4>
                <ul class="list-group mb-3">
                    {% for item in cart_items %}
                    <li class="list-group-item d-flex justify-content-between lh-sm">
                        <div class="col-4 mb-1">
                            <a href="{% url 'product_detail' item.product.id %}">
                                {% if item.product.image %}
                                <img class="w-100" src="{{ item.product.image.url }}" alt="{{ product.name }}">
                                {% else %}
                                <img class="w-100" src="{{ MEDIA_URL }}noimage.jpg" alt="{{ product.name }}">
                                {% endif %}
                            </a>
                        </div>
                        <div>
                            <h6 class="my-0">{{item.product.name}} ({{ item.quantity }})
                            </h6>

                        </div>
                        <span class="text-muted"> SEK {{ item.product.price | calc_subtotal:item.quantity }}
                        </span>
                    </li>
                    {% endfor %}

                    <li class="list-group-item d-flex justify-content-between">
                        <span>Total (SEK)
                        </span>
                        <strong> SEK {{ total }}
                        </strong>
                    </li>
                </ul>
            </div>

    </div>
</div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
{{ stripe_public_key|json_script:"id_stripe_public_key" }}
{{ client_secret|json_script:"id_client_secret" }}
<script src="{% static 'payment/js/stripe_elements.js' %}"></script>
{% endblock %}